{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <link rel="stylesheet" href="{% static 'user/css/reset_password.css' %}">
</head>
<body>
    <div class="container" id="container">
        <form class="reset-form" id="from">
            {% csrf_token %}
            <div class="header-area">
                <div class="logo">
                    <img src="{% static 'user/logo-full.svg' %}" alt="Focusly.pro" />
                </div>
            </div>
            <div class="main-content">
                <h2>Reset Password</h2>
                <p>Please enter your new password.</p>
                <div class="input-group">
                    <div class="input-group-item">
                        <label for="password">New Password</label>
                        <div class="input-field-wrapper" style="position: relative">
                            <input type="password" class="inputPassword" id="password" name="password" required placeholder="New Password" />
                            <div class="validation-message" id="password-validation"></div>
                            <div class="password-toggle">
                                <img
                                    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%237e8389' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24'%3E%3C/path%3E%3Cline x1='1' y1='1' x2='23' y2='23'%3E%3C/line%3E%3C/svg%3E"
                                    style="position: absolute; right: 10px; top: 12px; cursor: pointer; width: 20px"
                                    onclick="togglePasswordVisibility('password', 'togglePassword1')"
                                    id="togglePassword1"
                                    alt="Toggle password visibility"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="input-group-item">
                        <label for="password">Confirm New Password</label>
                        <div class="input-field-wrapper" style="position: relative">
                            <input type="password" id="confrim_password" name="confirm_password" required placeholder="Confirm New Password" />
                            <div class="validation-message" id="confirm-password-validation"></div>
                            <div class="password-toggle">
                                <img
                                    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%237e8389' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24'%3E%3C/path%3E%3Cline x1='1' y1='1' x2='23' y2='23'%3E%3C/line%3E%3C/svg%3E"
                                    style="position: absolute; right: 10px; top: 12px; cursor: pointer; width: 20px"
                                    onclick="togglePasswordVisibility('confrim_password', 'togglePassword2')"
                                    id="togglePassword2"
                                    alt="Toggle password visibility"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" id="submit">
                    <span class="spinner" style="display: none"></span>
                    <span class="button-text">Reset Password</span>
                </button>
            </div>
        </form>
    </div>
<script src="{% static 'user/js/reset_password.js'%}"></script>
</body>
</html>